html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(104, 98, 98, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row ;
  flex-wrap: wrap;
}

canvas {
  display: block;
  flex: 80%;
  margin-right: 10rem;
  margin-top: 5rem;
}


h1{
  text-align: center;
  color:rgb(170, 255, 1);
  flex: 100%;
  margin-bottom: 2rem;
}

.change-pos{
  flex: 20%;
  margin-left: 5rem;
}

.change-pos p{
  /* text-align: center; */
  color:bisque;
  font-weight: bold;
}

#visualize{
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  background-color: #3CC6AB;
  border-radius: 5px;
  position: absolute;
  left: 15%;
  top: 60%;
}

#visualize:hover{
  background-color: #33a08a;
}


.add-wall button{
  border-radius: 5px;
  border: none;
  background-color: #3CC6AB;
  color: white;
  padding: 5px;
  margin-left: 2rem;
  margin-top: 2rem;
  
}

#add-wall-btn:hover{
  background-color: #33a08a !important;
}

#clear-board:hover{
  background-color: #33a08a; 
}

@media screen and (max-width:1200px) {
  body{
    flex-direction: column;
  }

  canvas {
    margin-right: auto;
    margin-top: 0;
  }

  .change-pos{
    margin: auto;
    margin-bottom: 2rem;
  }

  h1{
    margin-bottom: 1rem;
  }

  #visualize{
    position:relative;
    transform: translate(-30%);
    margin-bottom: 10px;
    left: 7%;
  }

  .add-wall button{
    margin: auto;
  }
}



